In [9]:
import pandas as pd
from sqlalchemy import create_engine

### Create Connection

In [10]:
rds_connection_string = "postgres:postgres@localhost:5432/etl_project_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [17]:
engine.table_names()

['games', 'players']

### Retrieve data that will be pushed into players table

In [19]:
%store -r roster_merge_df

In [20]:
roster_merge_df.head(6)

         full_name first_name last_name position           college team
0      Aaron Brown      Aaron     Brown       RB         Minnesota  DET
2    Aaron Rodgers      Aaron   Rodgers       QB        California   GB
3    Aaron Stecker      Aaron   Stecker       RB         Wisconsin  ATL
4  Adrian Peterson     Adrian  Peterson       RB  Georgia Southern  CHI
6  Adrian Peterson     Adrian  Peterson       RB  Georgia Southern  MIN
8   Ahmad Bradshaw      Ahmad  Bradshaw       RB          Marshall  NYG

### Insert into table

In [21]:
roster_merge_df.to_sql(name='players', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the players table

In [22]:
pd.read_sql_query('select * from players', con=engine).head()

,player_key,full_name,first_name,last_name,position,college,team
0,1,Aaron Brown,Aaron,Brown,RB,Minnesota,DET
1,2,Aaron Rodgers,Aaron,Rodgers,QB,California,GB
2,3,Aaron Stecker,Aaron,Stecker,RB,Wisconsin,ATL
3,4,Adrian Peterson,Adrian,Peterson,RB,Georgia Southern,CHI
4,5,Adrian Peterson,Adrian,Peterson,RB,Georgia Southern,MIN

### Retrieve data that will be pushed into games table

In [27]:
# GET MERGED GAME STORED VARIABLE
%store -r gameday_data2_df

In [28]:
# MERGED GAME TABLE .HEAD
gameday_data2_df.head()

,game_id,home_team_abb,away_team_abb,week,season,game_url,home_score,away_score,unique_ID,home_team_full,away_team_full,temperature,wind_chill,humidity,wind_speed,weather_desc,date
0,20090910,PIT,TEN,1,2009,http://www.nfl.com/liveupdate/game-center/2009...,13,10,20090910PIT,Pittsburgh Steelers,Tennessee Titans,67.0,NaN,64%,9.0,67 degrees- relative humidity 64%- wind 9 mph,9/10/2009
1,20090913,CLE,MIN,1,2009,http://www.nfl.com/liveupdate/game-center/2009...,20,34,20090913CLE,Cleveland Browns,Minnesota Vikings,64.0,NaN,71%,4.0,64 degrees- relative humidity 71%- wind 4 mph,9/13/2009
2,20090913,NO,DET,1,2009,http://www.nfl.com/liveupdate/game-center/2009...,45,27,20090913NO,New Orleans Saints,Detroit Lions,72.0,NaN,NaN,NaN,72 degrees- no wind,9/13/2009
3,20090913,TB,DAL,1,2009,http://www.nfl.com/liveupdate/game-center/2009...,21,34,20090913TB,Tampa Bay Buccaneers,Dallas Cowboys,82.0,NaN,82%,9.0,82 degrees- relative humidity 82%- wind 9 mph,9/13/2009
4,20090913,HOU,NYJ,1,2009,http://www.nfl.com/liveupdate/game-center/2009...,7,24,20090913HOU,Houston Texans,New York Jets,72.0,NaN,NaN,NaN,72 degrees- no wind,9/13/2009

### Insert into table

In [29]:
gameday_data2_df.to_sql(name = 'games', con = engine, if_exists = 'append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "unique_ID" of relation "games" does not exist
LINE 1: ..., week, season, game_url, home_score, away_score, "unique_ID...
                                                             ^

[SQL: INSERT INTO games (game_id, home_team_abb, away_team_abb, week, season, game_url, home_score, away_score, "unique_ID", home_team_full, away_team_full, temperature, wind_chill, humidity, wind_speed, weather_desc, date) VALUES (%(game_id)s, %(home_team_abb)s, %(away_team_abb)s, %(week)s, %(season)s, %(game_url)s, %(home_score)s, %(away_score)s, %(unique_ID)s, %(home_team_full)s, %(away_team_full)s, %(temperature)s, %(wind_chill)s, %(humidity)s, %(wind_speed)s, %(weather_desc)s, %(date)s)]
[parameters: ({'game_id': 20090910, 'home_team_abb': 'PIT', 'away_team_abb': 'TEN', 'week': 1, 'season': 2009, 'game_url': 'http://www.nfl.com/liveupdate/game-center/2009091000/2009091000_gtd.json', 'home_score': 13, 'away_score': 10, 'unique_ID': '20090910PIT', 'home_team_full': 'Pittsburgh Steelers', 'away_team_full': 'Tennessee Titans', 'temperature': 67.0, 'wind_chill': None, 'humidity': '64%', 'wind_speed': 9.0, 'weather_desc': '67 degrees- relative humidity 64%- wind 9 mph', 'date': '9/10/2009'}, {'game_id': 20090913, 'home_team_abb': 'CLE', 'away_team_abb': 'MIN', 'week': 1, 'season': 2009, 'game_url': 'http://www.nfl.com/liveupdate/game-center/2009091304/2009091304_gtd.json', 'home_score': 20, 'away_score': 34, 'unique_ID': '20090913CLE', 'home_team_full': 'Cleveland Browns', 'away_team_full': 'Minnesota Vikings', 'temperature': 64.0, 'wind_chill': None, 'humidity': '71%', 'wind_speed': 4.0, 'weather_desc': '64 degrees- relative humidity 71%- wind 4 mph', 'date': '9/13/2009'}, {'game_id': 20090913, 'home_team_abb': 'NO', 'away_team_abb': 'DET', 'week': 1, 'season': 2009, 'game_url': 'http://www.nfl.com/liveupdate/game-center/2009091307/2009091307_gtd.json', 'home_score': 45, 'away_score': 27, 'unique_ID': '20090913NO', 'home_team_full': 'New Orleans Saints', 'away_team_full': 'Detroit Lions', 'temperature': 72.0, 'wind_chill': None, 'humidity': None, 'wind_speed': None, 'weather_desc': '72 degrees- no wind', 'date': '9/13/2009'}, {'game_id': 20090913, 'home_team_abb': 'TB', 'away_team_abb': 'DAL', 'week': 1, 'season': 2009, 'game_url': 'http://www.nfl.com/liveupdate/game-center/2009091308/2009091308_gtd.json', 'home_score': 21, 'away_score': 34, 'unique_ID': '20090913TB', 'home_team_full': 'Tampa Bay Buccaneers', 'away_team_full': 'Dallas Cowboys', 'temperature': 82.0, 'wind_chill': None, 'humidity': '82%', 'wind_speed': 9.0, 'weather_desc': '82 degrees- relative humidity 82%- wind 9 mph', 'date': '9/13/2009'}, {'game_id': 20090913, 'home_team_abb': 'HOU', 'away_team_abb': 'NYJ', 'week': 1, 'season': 2009, 'game_url': 'http://www.nfl.com/liveupdate/game-center/2009091305/2009091305_gtd.json', 'home_score': 7, 'away_score': 24, 'unique_ID': '20090913HOU', 'home_team_full': 'Houston Texans', 'away_team_full': 'New York Jets', 'temperature': 72.0, 'wind_chill': None, 'humidity': None, 'wind_speed': None, 'weather_desc': '72 degrees- no wind', 'date': '9/13/2009'}, {'game_id': 20090913, 'home_team_abb': 'IND', 'away_team_abb': 'JAC', 'week': 1, 'season': 2009, 'game_url': 'http://www.nfl.com/liveupdate/game-center/2009091306/2009091306_gtd.json', 'home_score': 14, 'away_score': 12, 'unique_ID': '20090913IND', 'home_team_full': 'Indianapolis Colts', 'away_team_full': 'Jacksonville Jaguars', 'temperature': 72.0, 'wind_chill': None, 'humidity': None, 'wind_speed': None, 'weather_desc': '72 degrees- no wind', 'date': '9/13/2009'}, {'game_id': 20090913, 'home_team_abb': 'CIN', 'away_team_abb': 'DEN', 'week': 1, 'season': 2009, 'game_url': 'http://www.nfl.com/liveupdate/game-center/2009091303/2009091303_gtd.json', 'home_score': 7, 'away_score': 12, 'unique_ID': '20090913CIN', 'home_team_full': 'Cincinnati Bengals', 'away_team_full': 'Denver Broncos', 'temperature': 67.0, 'wind_chill': None, 'humidity': '55%', 'wind_speed': 8.0, 'weather_desc': '67 degrees- relative humidity 55%- wind 8 mph', 'date': '9/13/2009'}, {'game_id': 20090913, 'home_team_abb': 'CAR', 'away_team_abb': 'PHI', 'week': 1, 'season': 2009, 'game_url': 'http://www.nfl.com/liveupdate/game-center/2009091302/2009091302_gtd.json', 'home_score': 10, 'away_score': 38, 'unique_ID': '20090913CAR', 'home_team_full': 'Carolina Panthers', 'away_team_full': 'Philadelphia Eagles', 'temperature': 73.0, 'wind_chill': None, 'humidity': '59%', 'wind_speed': 7.0, 'weather_desc': '73 degrees- relative humidity 59%- wind 7 mph', 'date': '9/13/2009'}  ... displaying 10 of 1280 total bound parameter sets ...  {'game_id': 20131229, 'home_team_abb': 'SD', 'away_team_abb': 'KC', 'week': 17, 'season': 2013, 'game_url': 'http://www.nfl.com/liveupdate/game-center/2013122914/2013122914_gtd.json', 'home_score': 27, 'away_score': 24, 'unique_ID': '20131229SD', 'home_team_full': 'San Diego Chargers', 'away_team_full': 'Kansas City Chiefs', 'temperature': 73.0, 'wind_chill': 0.0, 'humidity': '14%', 'wind_speed': 1.0, 'weather_desc': '73 degrees- relative humidity 14%- wind 1 mph- wind chill 0', 'date': '12/29/2013'}, {'game_id': 20131229, 'home_team_abb': 'DAL', 'away_team_abb': 'PHI', 'week': 17, 'season': 2013, 'game_url': 'http://www.nfl.com/liveupdate/game-center/2013122903/2013122903_gtd.json', 'home_score': 22, 'away_score': 24, 'unique_ID': '20131229DAL', 'home_team_full': 'Dallas Cowboys', 'away_team_full': 'Philadelphia Eagles', 'temperature': 0.0, 'wind_chill': 0.0, 'humidity': None, 'wind_speed': None, 'weather_desc': '0 degrees- no wind- wind chill 0', 'date': '12/29/2013'})]
(Background on this error at: http://sqlalche.me/e/f405)

### Confirm data has been added by querying the games table

In [31]:
pd.read_sql_query('select * from games', con=engine).head()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "games" does not exist
LINE 1: select * from games
                      ^

[SQL: select * from games]
(Background on this error at: http://sqlalche.me/e/f405)