In [1]:
import pandas as pd

In [2]:
%store -r gameinfo_df
gameinfo_df.head()

,type,game_id,home_team,away_team,week,season,state_of_game,game_url,home_score,away_score
0,reg,20090910,PIT,TEN,1,2009,POST,http://www.nfl.com/liveupdate/game-center/2009...,13,10
1,reg,20090913,CLE,MIN,1,2009,POST,http://www.nfl.com/liveupdate/game-center/2009...,20,34
2,reg,20090913,NO,DET,1,2009,POST,http://www.nfl.com/liveupdate/game-center/2009...,45,27
3,reg,20090913,TB,DAL,1,2009,POST,http://www.nfl.com/liveupdate/game-center/2009...,21,34
4,reg,20090913,HOU,NYJ,1,2009,POST,http://www.nfl.com/liveupdate/game-center/2009...,7,24

In [3]:
%store -r nfl_weather_df
nfl_weather_df.head()

,id,home_team,home_score,away_team,away_score,temperature,wind_chill,humidity,wind_mph,weather,date,date2
10073,200901030crd,Arizona Cardinals,30,Atlanta Falcons,24,72,NaN,NaN,NaN,72 degrees- no wind,1/3/2009,2009-01-03
10074,200901030sdg,San Diego Chargers,23,Indianapolis Colts,17,54,NaN,78%,7.0,54 degrees- relative humidity 78%- wind 7 mph,1/3/2009,2009-01-03
10075,200901040min,Minnesota Vikings,14,Philadelphia Eagles,26,72,NaN,NaN,NaN,72 degrees- no wind,1/4/2009,2009-01-04
10076,200901040mia,Miami Dolphins,9,Baltimore Ravens,27,74,NaN,72%,10.0,74 degrees- relative humidity 72%- wind 10 mph,1/4/2009,2009-01-04
10077,200901100oti,Tennessee Titans,10,Baltimore Ravens,13,53,NaN,68%,12.0,53 degrees- relative humidity 68%- wind 12 mph,1/10/2009,2009-01-10

In [4]:
%store -r team_lookup
team_lookup.head()

no stored variable team_lookup

NameError: name 'team_lookup' is not defined

In [ ]:
home_abbrev_df = nfl_weather_df.merge(team_lookup, left_on='home_team', right_on='fullname', how = 'left')
home_abbrev_df.head()

In [ ]:
#gameday_merge_df = roster_df.merge(right = df2, on = ['first_name', 'last_name'], how = 'left')

##  Complete Tables

In [ ]:
gameinfo_df['unique_ID'] = gameinfo_df['game_id'].astype(str) + gameinfo_df['home_team']
gameinfo_df.head()

In [ ]:
home_abbrev_df['unique_ID'] = home_abbrev_df['date_string'].astype(str) + home_abbrev_df['abbr_name']
home_abbrev_df.head()

## Merge Tables

In [ ]:
gameday_data_df = gameinfo_df.merge(home_abbrev_df, left_on='unique_ID', right_on='unique_ID', how = 'left')

In [ ]:
pd.set_option('display.max_columns', None)
gameday_data_df

## Table Cleanup

In [ ]:
gameday_data2_df = gameday_data_df.drop(columns=['id', 'fullname', 'abbr_name'])
gameday_data2_df

In [ ]:
%store -r gameday_data2_df